<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../style/sign_up.css" rel="stylesheet">
    <link href="../images/user1.png" rel="icon">
    <script src="../js/log_in.js" type="module" defer></script>
    <title>Log in</title>
</head>
<body>
    <div class="container">
        <div class="main">
            <img src="../images/user1.png" alt="logo" class="main_img">
            <input type="text" placeholder="email">
            <input type="password" placeholder="password">
            <button onclick="login()">Log In</button>
            <hr>
            <span>New here ?  Welcome!</span>
            <button onclick="location.href='./signup'">Sign Up</button>
        </div>
    </div>
</body>
</html>